@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
:root {
    --bg: #161619;
    --brown: #F66D40;
    --brown-g: #f66e407a;
    --pl: #ffffff50;
    --box: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
html::-webkit-scrollbar {
    width: .5rem;
}
html::-webkit-scrollbar-track {
    background: #fff;
}
html::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}
body{
    background-color: #000;
    color: #fff;
}
.subt{
    font-size: 3rem;
    text-align: center;
}
/* @media screen and (min-width: 1500px) {
    .container{
        width: 1500px;
        margin: 0 auto;
    }
} */